
# CREDITRUST RAG CHATBOT
.vscode/
node_modules/
.env
.venv
data/
setup.py

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Pytest cache
.cache/
# Coverage reports
.coverage
*.cover
# Distribution / packaging
.Python